.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    min-height: 100vh;
    background-color: #080808;
}

.portfolioSummaryContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #121318;
}

.titleContainer{
    display: flex;

    align-items: center;
    justify-content: space-between;
    width: 100%;
 
}

.labelCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.title{
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
}

.updateDate{
    font-size: 0.8rem;
    font-weight: 400;
    color: grey;
}

.availableCont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.availableTitle{
    display: flex;
    align-items: center;
    gap: 10px;
}

.avtitle{
    font-size: 0.8rem;
    font-weight: 600;
    color: grey;
}

.avmoneyCont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.eyeIcon{
    background-color: #080808;
    display: flex;
    align-items: center;
    justify-content: center;
}

.potrfolioCardsCont{
    display: flex;
   flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.twoCardsCont{
    width: 100%;
    display: flex;
    gap:10px;
}

.detailsContainer{

    width: 100%;

}

.thirdCard{
    width: 100%;
}

.pageContainer{
    display: flex;
    flex-direction: column;
    width:95%;
}

.leftContainer{
    width: 100%;
}

.allocationContainer{
    width: 100%;
    background-color: #121318;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.MarketList{
        width: calc(100% - 20px);
        margin-top: 10px;
        margin-bottom: 10px;
    
}

@media only screen and (min-width:1100px){
  .allocationContainer{
    margin-top: 0px;
  }
    .pageContainer{
        flex-direction: row;
        justify-content: space-between;
        gap:20px;
    }
    .leftContainer{
        width: 70%;
        
    }
    .rightContainer{
        width: 30%;
    }


    .detailsContainer{
        display: flex;
        justify-content: space-between;

    }
    .availableCont{
        width: 30%;

    }
    .potrfolioCardsCont{
        justify-content: flex-end;
        width: 70%;
    }
    .twoCardsCont{
        width: 50%;
    }
    .thirdCard{
        width: 25%;
    }
    .availableCont{
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap:5px;
    }
    .avamount{
        font-size: 1.5rem;
        font-weight: 600;
        color: #fff;
    }
}