.part1 {
  border-radius: 5px;
}
.linia1 {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: aqua;
  justify-content: space-between;
}

.container {
  display: flow-root;
  justify-content: center;
  align-items: center;
}

.square {
  width: 5px;
  height: 5px;
  background-color: white;
  margin: 0 2px;
  border-radius: 4px;
}
span {
  font-size: 30px;
}
.CateAlgo {
  display: flex;
  justify-content: center;
}

.category {
  background-color: blue;
}
.algorithm {
  background-color: black;
}

@media only screen and (max-width: 992px) {
}
