.DropMenu {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.upperMenu {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 12px; */
  /* background-color: red; */
}

.iconAndText {
  display: flex;
  flex-direction: row;
}

.text {
  margin-left: 10px;
  color: grey;
  font-size: 1.5rem;
}

.lineCurr {
  height: 25px;
  width: 1.5px;
  background-color: grey;
  margin-left: 10px;
}
.blueText {
  margin-left: 10px;
  color: rgb(83, 103, 254);
  font-size: 1.5rem;
  text-decoration: underline 2px solid rgb(83, 103, 254);
}

.langCurrBox {
  width: 100%;
  height: 100px;
  /* overflow-y: scroll; */
  /* overflow-y: scroll;
  overflow-x: scroll; */
  background-color: #080808;
  /* background-color: red; */
}
